* { box-sizing: border-box; }
body { background: radial-gradient( #476173 0%, #000000 100% ); }

main { margin: 20px; text-align: center; }

.block-3, .btn-add {
	width: 250px;
	height: 250px;
	min-width: 250px;
	min-height: 250px;
	margin: 0 20px 20px 0;
}

.btn-add {
	overflow: hidden;
	cursor: pointer;
	border-radius: 20px;
	font: 220px sans-serif;
	line-height: 255px;
	text-align: center;
	background: transparent;
	color: rgba( 255, 253, 239, 0.2 );
	text-shadow: 10px 10px 10px rgba( 0, 0, 0, 0.1 );
	box-shadow: 0 6px 16px 0 rgba( 0, 0, 0, 0.2 ), 0 8px 20px 0 rgba( 0, 0, 0, 0.19 );
	transition: color 250ms;
}

.btn-add:hover {
	color: rgba( 255, 253, 239, 0.6 );
	text-shadow: 0 0 1px rgba( 255, 255, 255, 0.3 );
	background: rgba( 255, 253, 239, 0.1 );
	box-shadow: 0 10px 18px 1px rgba( 0, 0, 0, 0.2 ), 0 12px 22px 1px rgba( 0, 0, 0, 0.19 );
}

.btn-add:active {
	text-shadow: 0 0 1px rgba( 255, 255, 255, 0.7 );
	background: rgba( 255, 253, 239, 0.1 );
	box-shadow: 0 2px 8px 0 rgba( 0, 0, 0, 0.2 ), 0 4px 12px 0 rgba( 0, 0, 0, 0.19 );
	color: #fffdef;
}

.block-3 {
	padding: 20px 25px 20px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba( 0, 0, 0, 0.2 ), 0 6px 20px 0 rgba( 0, 0, 0, 0.19 );
	text-align: center;
	background: #f9f9f9;
}

.block-header {
	margin: auto;
	border-bottom: 0.25em solid #d9453f;
	padding-bottom: 0.5em;
	height: 50px;
	min-height: 50px;
}

.block-body {

}

.block-footer {
	position: absolute;
	display: flex;
	left: 0;
	bottom: 20px;
	padding: 0 25px 0 25px;
	height: 50px;
	text-align: center;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
}

textarea {
	width: 100%;
	height: 40%;
	min-height: 50px;
	border: none;
	resize: none;
	margin: 15px 0 15px 0;
	overflow: hidden;
	background-color: inherit;
	color: #333;
}

input[ type="text" ] {
	margin-top: 5px;
	border: 0;
	width: 100%;
	font-size: 1.25rem;
	background-color: inherit;
	color: #d9453f;
	text-shadow: 1px 1px rgba( 59, 1, 1, 0.2 );
}

.icon {
	position: absolute;
	color: #999;
	font-size: 1.3em;
	cursor: pointer;
}

.icon:hover {
	color: #333;
}

.icon.delete, .fa-close {
	color: #999;
}

.icon.delete:hover {
	color: #d9453f;
}

.delete {
	margin: -18px 0;
	right: 3px;
}

.fa-close:hover {
	color: #333;
	cursor: pointer;
}

.viewCSS {
	margin: -16px 0;
	right: 20px;
	font-size: 1.1em;
}

.viewJS {
	margin: -16px 20px;
	right: 35px;
	font-size: 1.1em;
}

.viewJS > sub, .viewCSS > sub {
	font-size: 0.5em;
}

.btn-basic[data-confirm="yes"] {
	margin: 0 20px 0 0;
}

.update {
	float: right;
	margin-right: 5px;
}

.upload {
	float: left;
	overflow: hidden;
}

.upload > input[type=file] {
	position: absolute;
	width: calc( 50% - 20px - 5px / 2 );
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: calc( 250px / 2 + 5px / 2 );
}

.dialogueShell {
	width: 100%;
	height: 100%;
	background-color: rgba( 0, 0, 0, 0.9 );
	padding: 20px 20px 20px 20px;
}

.dialogue {
	padding: 15px;
	width: 60vw;
	min-width: 250px;
	min-height: 150px;
	max-width: 300px;
	max-height: 180px;
	background: #f9f9f9;
	box-shadow: 5px 5px 10px 1px rgba( 0, 0, 0, 0.9 );
	overflow: auto;
	text-align: center;
}

.dialogue-footer {
	display: flex;
	margin: 0 20px;
}

.text-alert {
	padding: 15px;
	line-height: 30px;
}

#notification {
	position: fixed;
	top: 0;
	right: 0;
	width: 20vw;
	min-width: 200px;
	z-index: 1;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}

/* INFO: Alignment */
.middle-abs { position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0; }
.middle-fixed { position: fixed; margin: auto; top: 0; bottom: 0; left: 0; right: 0; }


.noselect { -webkit-touch-callout: none; -webkit-user-select: none;	-moz-user-select: none; -ms-user-select: none; user-select: none; }

.flex-1 { -webkit-flex: 1; -ms-flex: 1; -moz-flex:1; flex: 1; }

