body { background:#E7EBEE; color:#767C8B; }
main { margin:10px auto; }

.repo-item {
	overflow:hidden;
	width:300px; height:300px;
	margin:10px;
	border-radius:10px;
	border:1px solid #C5C8CD;
}



.repo-item .item-header, .repo-item .item-footer {
	overflow:hidden;
	position:relative;
	width:100%; height:40px;
	background:#F5F6F8;
}
.repo-item .item-header {
	box-sizing:border-box;
	padding:10px;
	border-bottom:1px solid #C5C8CD;
	font-size:1.2em;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
.repo-item .item-body {
	width:100%; height:220px;
	box-sizing:border-box;
	padding:10px;
	background:#FFF;
}
.repo-item .item-footer {
	border-top:1px solid #C5C8CD;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}



.repo-item .item-header input[type="text"] {
	width:100%;
	border:none; font-size:inherit;
	padding:0; margin:0;
	color:inherit;
	background:none;
	outline:none;
	text-align:center;
}

.repo-item .item-body textarea {
	width:100%; padding:0;
	height:200px;
	border:none; font-size:1em;
	color:inherit;
	background:none;
	outline:none;
	resize:none;
}

.repo-item .item-footer .op-item {
	float:left;
	box-sizing:border-box;
	width:20%; height:100%;
	padding:10px;
	text-align:center;
	cursor:pointer;
	border-right:1px solid #C5C8CD;
}
.repo-item .item-footer .op-item:last-child { border-right:none; }
.repo-item .item-footer .op-item:hover { background:#AED066; color:#788F44; }
.repo-item .item-footer .op-item.js-item, .repo-item .item-footer .op-item.css-item {
	color:rgba(0, 0, 0, 0); cursor:default;
}
.repo-item .item-footer .op-item.js-item:hover, .repo-item .item-footer .op-item.css-item:hover {
	background:none;
}
.repo-item.has-js .item-footer .op-item.js-item, .repo-item.has-css .item-footer .op-item.css-item {
	color:inherit; cursor:pointer;
}
.repo-item.has-js .item-footer .op-item.js-item:hover, .repo-item.has-css .item-footer .op-item.css-item:hover{
	background:#AED066; color:#788F44;
}



.repo-item .item-footer .op-item.op-delete { background:#9B2020; color:#CCC; }
.repo-item .item-footer .op-item.op-delete:hover { background:#CC2929; color:#FFF; }





#btnAdd {
	width:300px; height:300px;
	line-height:300px;

	margin:10px;
	border-radius:10px;
	background:#FFF;
	border:1px solid #C5C8CD;
	text-align:center;
	cursor:pointer
}
#btnAdd:hover{ background:#AED066; color:#788F44; }
#btnAdd > span { font-size:200px; }



#dialogueDelete {
	z-index:99;
	position:fixed; top:0; left:0; width:100vw; height:100vh;
	background:rgba( 0, 0, 0, 0.8 );
	color:#FFF;
	font-size: 1.5em;
}

#dialogueDelete .text-alert { margin-bottom:20px; }
#dialogueDelete button { width:100px; font-size:inherit; line-height:2em; }


#notification {
	z-index:100;
	position:fixed; top:0; left:0; width:100vw; height:100vh;
	background:rgba( 0, 0, 0, 0.8 );
	color:#FFF;
	font-size: 1.5em;
}
