<!DOCTYPE html>
<html lang="en" class="viewport-fill fill-horizontally">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cache UI</title>
	<link rel="stylesheet" href="https://api.purimize.com/cache/lib/css/oops,oops.ui-font" />
	<link rel="stylesheet" href="css/button.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body class="scroll-all">
	<main style="visibility:hidden;" class="clearfix">
		<div id="btnAdd" class="btn-add float-left noselect" title="add a new record"><span class="oops-plus"></span></div>
	</main>
	<div class="hidden"><input id="fileUpload" class="parent-fill fill-all" type="file" name="files[]" multiple /></div>
	<div id="notification" class="v-center t-center hidden"><div></div></div>
	<div id="dialogueDelete" class="v-center t-center hidden">
		<div>
			<div class="text-alert">Are you sure you want to delete this repo?</div>
			<div class="dialogue-footer">
				<button class="btn-basic btn-color-danger" data-confirm="yes">Yes</button>
				<button class="btn-basic btn-color-danger" data-confirm="no">No</button>
			</div>
		</div>
	</div>



	<script data-tpl="tile" type="text/html">
		<div data-role="repo-item" data-rel="${noteId}" class="repo-item float-left {{if hasJS}}has-js{{/if}} {{if hasCSS}}has-css{{/if}}">
			<div class="item-header">
				<input type="text" placeholder="title..." value="${title}" />
			</div>
			<div class="item-body">
				<textarea placeholder="descriptions...">{{html description}}</textarea>
			</div>
			<div class="item-footer clearfix">
				<div data-rel="${noteId}" data-behavior="item-proc" data-id="btnContextUpdate"	class="op-item" title="Save Descriptions">
					<span class="oops-document"></span>
				</div>
				<div data-rel="${noteId}" data-behavior="item-proc" data-id="btnFileUpload"		class="op-item" title="Update Repo Files">
					<span class="oops-upload"></span>
				</div>
				<div data-rel="${noteId}" data-behavior="item-proc" data-id="btnViewJS"			class="op-item js-item" title="View JS">js</div>
				<div data-rel="${noteId}" data-behavior="item-proc" data-id="btnViewCSS"		class="op-item css-item" title="View CSS">css</div>
				<div data-rel="${noteId}" data-behavior="item-proc" data-id="btnDelete"			class="op-item op-delete"><span class="oops-trash"></span></div>
			</div>
		</div>
	</script>
	<script type="application/javascript"
			src="https://api.purimize.com/cache/lib/js/jquery,jquery-ui-widget,jquery-transport,jquery-fileupload,jquery-tmpl,promise,moment,oops,oops.string,oops.util,oops.runtime,oops.net"></script>
	<script src="js/app.js"></script>
</body>
</html>
